<mat-card class="mt20">
    <mat-action-list>
        <div class="mat-subheader">MENU</div>
        <button mat-list-item routerLink="/admin">
            <mat-icon mat-list-icon>home</mat-icon>
            HOME</button>

        <button mat-list-item routerLink="/admin/profile">
            <mat-icon mat-list-icon>account_circle</mat-icon>
            PROFILE</button>

            <button mat-list-item routerLink="/admin/categories">
                <mat-icon mat-list-icon>format_list_bulleted</mat-icon>
                CATEGORIES</button>

                <button mat-list-item routerLink="/admin/add-category">
                    <mat-icon mat-list-icon>add_circle_outline</mat-icon>
                   ADD CATEGORIES</button>

                <button mat-list-item routerLink="/admin/quizzes">
                    <mat-icon mat-list-icon>quiz</mat-icon>
                    QUIZ</button>

                    <button mat-list-item routerLink="/admin/add-quiz">
                        <mat-icon mat-list-icon>add</mat-icon>
                        ADD QUIZ</button>

                        <button mat-list-item routerLink="/admin/profile">
                            <mat-icon mat-list-icon>logout</mat-icon>
                            LOGOUT</button>
    </mat-action-list>
</mat-card>
