.profile-image{
    max-width: 150px;
    max-height: 150px;
    border-radius: 50%;
}
.table{
    width: 100%;
    border: 0.1px solid white;
}
.table tr td{
    padding: 5px 1px;
    border: 1px solid whitesmoke;
}