

  <div id="slider">
      <figure>
        <img src="../../../assets/upsc.jpg">
          <img src="../../../assets/IMO.png">
          
          <img src="../../../assets/icai.jpg">
          <img src="../../../assets/fiitjee.png">
          <img src="../../../assets/kvpy.jpg">
          
          <img src="../../../assets/neet.jpg">
          <img src="../../../assets/rail.jpg">

          <img src="../../../assets/toefl.jpg">
          
          <img src="../../../assets/ielts.png">
          <img src="../../../assets/nda.jpg">
          <img src="../../../assets/fiitjee.png">

      </figure>
  </div>


  <!-- <video class="mt20" width="100%" autoplay loop height="400px" src="../../../assets/v1.mp4">Video</video> -->
  


<div class="row" style="margin-top: 50px;">
    <div class="column">
        <mat-card class="mb20">
            <mat-card-header>
                <img height="150" width="200" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZBV4uyPl1pboxBUyo2n6IwTY9QArDg57hSA&usqp=CAU" alt="">
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="truncate"></p>
                <a target="_blank"  href="https://www.upsc.gov.in/">visit official website of UPSC</a>
                
            </mat-card-content>
        </mat-card>

    </div>

    <div class="column" style="overflow-y: hidden;">
        <mat-card style="margin-top: 10px;">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <img height="110" width="180" src="../../../assets/IMO.png" alt="">
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="truncate"></p>
                <a target="_blank" href="https://www.imo-official.org/">visit official website of International Mathematical Olympiad</a>
            </mat-card-content>
            <mat-card-actions>
                
            </mat-card-actions>
        </mat-card>
    </div>

    <div class="column">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
                <img height="150px" width="200px" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQf5GWYt3dkWkRJei5CM9AZitO91CvIPff4TA&usqp=CAU" alt="">
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="truncate"></p>
                <a target="_blank" href="https://jeeadv.ac.in/">visit official website of JEE ADVANCED</a>
            </mat-card-content>
            
        </mat-card>
    </div>
  </div>
  <!-- <video class="mt20" width="100%" autoplay loop height="400px" src="../../../assets/v2.mp4">Video</video> -->


  <div class="row">
  <div style="margin-top: 10px;" class="column">
    <mat-card class="mb20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <img height="150" width="200" src="../../../assets/neet.jpg" alt="">
            <mat-card-subtitle>
                
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="truncate"></p>
            
            <a target="_blank" href="https://neet.nta.nic.in/webinfo/Page/Page?PageId=8&LangId=P">visit official website of NEET</a><br><br>
            
        </mat-card-content>
    </mat-card>

</div>

<div style="margin-top: 10px;" class="column">
    <mat-card class="mb20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <img height="150px" width="200px" src="../../../assets/kvpy.jpg" alt="">
            <mat-card-subtitle>
                
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="truncate"></p>
            <a  target="_blank" href="http://www.kvpy.iisc.ernet.in/main/applications.htm">visit official website of KVPY</a><br><br>
            
        </mat-card-content>
    </mat-card>

</div>

<div style="margin-top: 10px;" class="column">
    <mat-card class="mb20">
        <mat-card-header>
            <img height="150px" width="200px" src="https://resize.indiatvnews.com/en/resize/newbucket/1200_-/2020/09/4pune-jee-main-results-decla-1599551417.jpg" alt="">
           
            <mat-card-subtitle>
                
            </mat-card-subtitle>
        </mat-card-header>
    
        <mat-card-content>
            <p class="truncate"></p>
            <a  target="_blank" href="https://jeemain.nta.nic.in/webinfo2021/Page/Page?PageId=1&LangId=P">visit official website of JEE MAINS</a>
            
        </mat-card-content>
    
    
    </mat-card>

</div>
</div>


<div class="row">
<div style="margin-top: 10px;" class="column">
    <mat-card class="mb20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
           <img height="150px" width="200" src="../../../assets/toefl.jpg" alt="">
            <mat-card-subtitle>
               
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="truncate"></p>
            <a  target="_blank" href="https://www.ets.org/toefl/test-takers/ibt/take/register/">Visit official website of TOEFL</a><br><br>
            
        </mat-card-content>
    </mat-card>

</div>


<div style="margin-top: 10px;" class="column">
    <mat-card class="mb20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
           <img height="150px" width="180px" src="../../../assets/ielts.png" alt="">
            <mat-card-subtitle>
                
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="truncate"></p>
            <a  target="_blank" href="https://www.ielts.org/">Visit official website of IELTS</a><br><br>
            
        </mat-card-content>
    </mat-card>

</div>

<div style="margin-top: 10px;" class="column">
    <mat-card class="mb20">
        <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
           <img height="150px" width="180px" src="../../../assets/icai.jpg" alt="">
            <mat-card-subtitle>
                
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <p class="truncate"></p>
            <a  target="_blank" href="https://www.icai.org/">Visit official website of ICAI</a><br><br>
            
        </mat-card-content>
    </mat-card>

</div>
</div>
<!-- <video class="mt20" width="100%" autoplay loop height="400px" src="../../../assets/v3.mp4">Video</video> -->
  

<div class="row">
    <div style="margin-top: 10px;" class="column">
        <mat-card class="mb20">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
               <img height="150px" width="200" src="../../../assets/nda.jpg" alt="">
                <mat-card-subtitle>
                   
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="truncate"></p>
                <a  target="_blank" href="https://www.nda.nic.in/">Visit official website of NDA</a><br><br>
                
            </mat-card-content>
        </mat-card>
    
    </div>
    
    
    <div style="margin-top: 10px;" class="column">
        <mat-card class="mb20">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
               <img height="150px" width="180px" src="../../../assets/fiitjee.png" alt="">
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="truncate"></p>
                <a  target="_blank" href="https://fiitjee.com/">Visit official website of FIITJEE</a><br><br>
                
            </mat-card-content>
        </mat-card>
    
    </div>
    
    <div style="margin-top: 10px;" class="column">
        <mat-card class="mb20">
            <mat-card-header>
                <div mat-card-avatar class="example-header-image"></div>
               <img height="150px" width="180px" src="../../../assets/rail.jpg" alt="">
                <mat-card-subtitle>
                    
                </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p class="truncate"></p>
                <a  target="_blank" href="https://indianrailways.gov.in/railwayboard/">Visit official website of Indian Railway</a><br><br>
                
            </mat-card-content>
        </mat-card>
    
    </div>
    
    
    
    
    </div>
    



