<footer class="footer">
  

<div class="row" style="color: beige; margin-top: 10px;">
  <div class="column mt10" style="margin-left: 50px;">
                 
    <p>PRATICEX.COM</p>
     
                    <ul>
                        <li><a style="color: antiquewhite;" target="_blank" href="../../../assets/about.docx">About Us</a></li>
                        <br><li><a style="color: antiquewhite;" target="_blank" href="../../../assets/Privacy Policy.docx">Privacy Policy</a></li>
                        
                    </ul>
                </div>
                   
                
                    
                <div class="column mt10" style="margin-left: 80px;">
                     
    <p>Pratices</p>
     
                    <ul>
                        <li>Entrance Exam</li>
                        <li>Topic-wise</li>
                        <li>Contests</li>
                        <li>MCQ</li>
                    </ul>
                </div>
            
                <div class="column mt10" style="margin-left: 100px;">
              <p>Contact Us</p>
              <ul>
                <label for="">
                <a  style="display: inline-block;" href = "mailto: kanhaiyakumar2909@gmail.com"><mat-icon style="margin-left: 55px; margin-top: 5px;">email</mat-icon><br> kanhaiyakumar2909@gmail.com</a><br>
                
              
                 <a  style="display: inline-block; margin-top: 5px;" href='https://wa.me/9334676049' target='_blank'><mat-icon style="margin-left: 25px; margin-top: 5px;">whatsapp</mat-icon><br> 9334676049</a>
                </label> 
                </ul>

</div>

<br> <h3 class="text-center" style="color: cornsilk">© 2021 PRATICEX. <br> ALL RIGHT RESERVED</h3>

</div>

             


              </footer>
