<div class="bootstrap-wrapper">
    <div class="container">
        <div class="row" style="margin-top: 0px;">
            <div class="col-md-6 offset-md-3">
              <mat-card>
                <div class="container text-center">
                    <img src="../../../assets/register.jpg">
                </div>
                <form (ngSubmit)="formSubmit()">
                    <mat-form-field class="full-width my-1px" appearance="outline">
                        <mat-label>User Name</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.username"
                        name="username"
                        type="text" matInput placeholder="Enter Here">
                        <mat-hint>User Name Must Be Unique</mat-hint>
                      </mat-form-field>
                      <mat-form-field class="full-width" style="margin-top:0ch;" appearance="outline">
                        <mat-label>Password</mat-label>
                        <input
                        required
                        [(ngModel)]="user.password"
                        name="password"
                        type="password" matInput placeholder="Enter Here">
                      </mat-form-field>
                      <mat-form-field class="full-width my-100px" appearance="outline">
                        <mat-label>First Name</mat-label>
                        <input
                        required
                        [(ngModel)]="user.firstName"
                        name="firstName"
                        type="text" matInput placeholder="Enter Here">
                      </mat-form-field>
                      <mat-form-field class="full-width my-1px" appearance="outline">
                        <mat-label>Last Name</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.lastName"
                        name="lastName"
                        type="text" matInput placeholder="Enter Here">
                      </mat-form-field>
                      <mat-form-field class="full-width my-1px" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input 
                        required
                        [(ngModel)]="user.emailId"
                        name="emailId"
                        type="email" matInput placeholder="Enter Here">
                      </mat-form-field>
                      <mat-form-field class="full-width my-1px" appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input
                        required
                        [(ngModel)]="user.phone"
                        name="phone"
                        type="number" matInput placeholder="Enter Here">
                      </mat-form-field>
                      <div class="container text-center">
                          <button type="submit" mat-raised-button color="primary">REGISTER</button>
                          <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">CANCEL</button><br>
                          <br><a [routerLink]="'/login'">already have an account!! sign in</a>
                          
                         
                      </div>
                </form>
              </mat-card>
            </div>
        </div>
    </div>
</div>
